:root {
  --pieceSize:calc(min(3.3333vw, 5.15vh));
  --background:url("./photo-1609965803451-43c6e8d7b346.jpg");
}

.body{
  overflow:hidden;
  width:100vw;
  height:100vh;
}

.wrapper{
  margin:auto;
  width:calc(30*(.851*var(--pieceSize)));
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.puzzlePiece{
  display:inline-block;
  background:#0f0;
  width:var(--pieceSize);
  height:var(--pieceSize);
  margin:calc(-.16*var(--pieceSize)) calc(-.16*var(--pieceSize)) 0px 0px;
  background:var(--background);
  background-size: calc(30*var(--pieceSize)) calc(20*var(--pieceSize));
}

.neutral{
  clip-path: polygon(
    /* top left */
    15% 0%,
    45% 0%,
    35% 15%,
    65% 15%,
    55% 0,
    85% 0,
    92.5% 7.5%,

    85% 15%,
    85% 40%,
    100% 35%,
    100% 65%,
    85% 60%,
    85% 85%,
    92.5% 92.5%,

    85% 100%,
    55% 100%,
    65% 85%,
    35% 85%,
    45% 100%,
    15% 100%,
    7.5% 92.5%,

    15% 85%,
    15% 60%,
    0% 65%,
    0% 35%,
    15% 40%,
    15% 15%,
    7.5% 7.5%
  );
}

.left, .top.odd{
  clip-path: polygon(
    15% 0%,
    45% 0%,
    35% 15%,
    65% 15%,
    55% 0,
    85% 0,
    92.5% 7.5%,

    85% 15%,
    85% 40%,
    100% 35%,
    100% 65%,
    85% 60%,
    85% 85%,
    92.5% 92.5%,

    85% 100%,
    55% 100%,
    65% 85%,
    35% 85%,
    45% 100%,
    15% 100%,
    7.5% 92.5%,

    0% 100%,
    0% 0%
  );
}

.right, .bottom.odd{
  clip-path: polygon(
    /* top left */
    15% 0%,
    45% 0%,
    35% 15%,
    65% 15%,
    55% 0,
    85% 0,
    92.5% 7.5%,

    100% 0%,
    100% 100%,

    85% 100%,
    55% 100%,
    65% 85%,
    35% 85%,
    45% 100%,
    15% 100%,
    7.5% 92.5%,

    15% 85%,
    15% 60%,
    0% 65%,
    0% 35%,
    15% 40%,
    15% 15%,
    7.5% 7.5%
  );
}

.top, .right.odd{
  clip-path: polygon(
    /* top left */
    0% 0%,
    100% 0%,

    85% 15%,
    85% 40%,
    100% 35%,
    100% 65%,
    85% 60%,
    85% 85%,
    92.5% 92.5%,

    85% 100%,
    55% 100%,
    65% 85%,
    35% 85%,
    45% 100%,
    15% 100%,
    7.5% 92.5%,

    15% 85%,
    15% 60%,
    0% 65%,
    0% 35%,
    15% 40%,
    15% 15%,
    7.5% 7.5%
  );
}

.bottom, .left.odd{
  clip-path: polygon(
    /* top left */
    15% 0%,
    45% 0%,
    35% 15%,
    65% 15%,
    55% 0,
    85% 0,
    92.5% 7.5%,

    85% 15%,
    85% 40%,
    100% 35%,
    100% 65%,
    85% 60%,
    85% 85%,
    92.5% 92.5%,

    100% 100%,
    0% 100%,

    15% 85%,
    15% 60%,
    0% 65%,
    0% 35%,
    15% 40%,
    15% 15%,
    7.5% 7.5%
  );
}

.tr, .tl{
  clip-path: polygon(
    /* top left */
    0% 0%,
    100% 0%,

    85% 15%,
    85% 40%,
    100% 35%,
    100% 65%,
    85% 60%,
    85% 85%,
    92.5% 92.5%,

    85% 100%,
    55% 100%,
    65% 85%,
    35% 85%,
    45% 100%,
    15% 100%,
    7.5% 92.5%,

    0% 100%
  );
}

.br, .bl{
  clip-path: polygon(
    /* top left */
    15% 0%,
    45% 0%,
    35% 15%,
    65% 15%,
    55% 0,
    85% 0,
    92.5% 7.5%,

    100% 0%,

    100% 100%,
    0% 100%,

    15% 85%,
    15% 60%,
    0% 65%,
    0% 35%,
    15% 40%,
    15% 15%,
    7.5% 7.5%
  );
}


.odd{
  transform:rotate(90deg);
}

.odd:after{
  content:"";
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:inherit;
  transform:rotate(-90deg);
}


.unscramble{
  transform:translate(0px, 0px)!important;
}

.unscramble.odd{
  transform:translate(0px, 0px) rotate(90deg)!important;
}