:root {
  --blur:10px;
  --base:#fff;
  --img:url("Assets/reflection.jpg");
}

body{
  width:100vw;
  height:100vh;

  background-image:var(--img);
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  /* fix the attachment, so children can take on the same image at the same location */
  background-attachment: fixed;
}

#wrapper{
    position: relative;

    box-shadow:10px 10px 10px rgba(0,0,0,.7);
    border-radius:10px;
    text-align: center;
    background:inherit;
    overflow:hidden;
    z-index:1;
}

/* Psudo element which gives the frosted glass look */
#wrapper:before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:-20px;
  box-shadow:inset 0 0 5000px var(--base);
  filter: blur(var(--blur));
  background:inherit;
  z-index:-1;
}

#glass{
  /* position:absolute; */
  width:100%;
  padding:20px;
  padding-bottom:0px;
}

#footer{
  margin-top:20px;
}


body{
  text-shadow:-1px -1px 1px rgba(255,255,255,.5), 1px 1px 1px rgba(0,0,0,.5);
  color:var(--base);
  font-size:20px;
  
}

.imgButton{
  padding:0px;
}
.imgChange{
  margin:0px;
  padding:0px;
  width:100px;
  height:66px;
}