:root {
  --mainColor:#f73;
  --cardSize:50vw;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: #700;
  min-height: 100vh;
  background: linear-gradient(135deg, #850 0%,#700 48%,#a22 100%);
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.hero {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}

.textBox{
  font-size:10vmin;
  font-weight:700;
  /* pointer-events: none */
}

.cursorLight{
  position:fixed;;
  top:0px;
  right:0px;
  width:4vmin;
  height:4vmin;
  background:rgba(255,255,255,1);
  border-radius:1000px;
  pointer-events: none;

  filter: blur(2px);
  transform: 
            translateX(-2vmin)
            translateY(-2vmin);
  
  box-shadow:0 0 7vmin rgba(255, 255, 80, 1), 0 0 15vmin rgb(255, 175, 54),0 0 30vmin rgb(255, 255, 255) ;
}
