:root {
  --mainColor:#f73;
  --glowOpacity:0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: #700;
  min-height: 100vh;
  background: linear-gradient(135deg, #850 0%,#700 48%,#a22 100%);
  background-size: cover;
  align-items: center;
}




.photobooth {
  max-width: 150rem;
  /* max-height:90vh; */
  margin: 2rem auto;
  border-radius: 10px;
  padding:1rem;
  background:rgba(0,0,0,.3);
}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  width: 100%;
  margin-bottom:20px;
  overflow:hidden;
}

.player {
  position: absolute;
  top: 20px;
  right: 20px;
  width:200px;
}

/*
  Strip!
*/

.strip{
  padding:20px;
  overflow:auto;
  box-shadow:inset 0 0 20px rgba(0,0,0,.5);
  border-radius:10px;
}

.strip img {
  width: 100px;
  padding: 0.4rem 0.4rem .8rem 0.4rem;
  box-shadow: 0 0 .2rem rgba(0,0,0,.5);
  background: white;
}

.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }