:root {
  --inputColor: #f73;
  --fontSize:16px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-size:var(--fontSize);

}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background: #700;
  background: linear-gradient(135deg, rgb(50, 50, 50) 0%,rgb(23, 18, 18) 48%,rgb(20, 20, 20) 100%); */
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.label{
  background:#888;
  margin-bottom:5px;
}

.item{
  text-align:center;
  border:1px solid #888;
}

.settings, .settings *{
  font-size:16px;
}

.settings{
  position:absolute;
  top:0px;
  right:0px;
  padding:3px;
}



/* ============================================================
  Switches
============================================================*/
.switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  box-shadow:inset -.05em -.1em 0 rgba(255,255,255,.3), inset .1em .1em .1em rgba(0,0,0,.3);
  -webkit-transition: .4s;
  transition: .4s;
}

/* the ball is a "before", made before the slider */
.slider:before {
  position: absolute;
  content: "";
  height: .75em;
  width: .75em;
  left: .125em;
  bottom: .125em;
  background-color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
  transition-delay: .1s;
}

input:checked+.slider {
  background-color: var(--inputColor);
}

input:checked+.slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}
input:checked+.slider{
  animation-name: rotateOn;
  animation-duration: .6s;
}
input+.slider{
  animation-name: rotateOff;
  animation-duration: .6s;
}

/* Rounded sliders */
.slider.round {
  border-radius: 1em;
}

.slider.round:before {
  border-radius: 50%;
}


/* animations */
@keyframes rotateOn {
  40%{transform:rotate(20deg) translate(.5em, -.3em);}
  100%{transform:rotate(0deg);}
}

@keyframes rotateOff {
  40%{transform:rotate(-20deg)  translate(-0.5em, -.3em);}
  100%{transform:rotate(0deg);}
}

/* ============================================================
  Checkbox
============================================================*/
.container {
  display: inline-block;
  position: relative;
  padding-left: 1em;
  margin-bottom: .33em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;					
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: #ccc;
  box-shadow:inset -.05em -.1em 0 rgba(255,255,255,.3), inset .1em .1em .1em rgba(0,0,0,.3);
  border-radius:.2em;
  overflow:hidden;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--inputColor);
  transition-duration: .4s;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  /* display: none; */

  top:.07em;
  left:.32em;
  width: .4em;
  height: .7em;
  border: solid white;
  border-width: 0 .15em .15em 0;
  -webkit-transform: rotate(45deg) scale(0);
  -ms-transform: rotate(45deg) scale(0);
  transform: rotate(45deg)   scale(0);
  transition-duration: .4s;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  /* display: block; */
  -webkit-transform: rotate(45deg) scale(100%);
  -ms-transform: rotate(45deg) scale(100%);
  transform: rotate(45deg)   scale(1);
  transition-duration: .4s;
}

/* Radio Fix*/
.radio{
  border-radius:100%;
}

.radio:after {
  background:#fff;
  border-width:.3em;
  border-radius:100%;
  top:.15em;
  left:.15em;
  width: .7em;
  height: .7em;
}

/*
Focused
*/

input:focus+.slider,input:hover+.slider input:focus+.checkmark, .container:hover input ~ .checkmark {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow:inset -.05em -.1em 0 rgba(255,255,255,.3), inset .1em .1em .1em rgba(0,0,0,.3), 0 0 .2em var(--inputColor) ;
}



input[type="text"].themed, input[type="number"].themed{
  -webkit-appearance: none;
  border:none;

  color:#333;
  background:#ddd;
  border-radius:.2em;
  box-shadow:inset -.05em -.1em 0 rgba(255,255,255,.3), inset .1em .1em .1em rgba(0,0,0,.3);

  margin:0px;
  padding-left:.5em;
  padding-right:.5em;

  -webkit-transition: 0.5s;
  transition: 0.5s;

  text-shadow:.05em .05em .1em rgba(0,0,0,.3);
}
input[type="number"].themed{
  padding-right:0;
}

/* input[type="number"].themed::-webkit-outer-spin-button, 
input[type="number"].themed::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    background-size: 50%;
    width: 1em;
    border-left: 1px solid #BBB;
    opacity: 1; /* shows Spin Buttons per default (Chrome >= 39) 
}
*/

input[type="number"].themed::-webkit-inner-spin-button:hover,
input[type="number"].themed::-webkit-inner-spin-button:active{
    box-shadow:-.1em 0 .3em var(--inputColor);
}

input[type="text"].themed:focus, input[type="number"].themed:focus{
  outline:none;
  text-shadow:.05em .05em .1em rgba(0,0,0,.3), 0 0 .03em var(--inputColor);
  box-shadow:inset -.05em -.1em 0 rgba(255,255,255,.3), inset .1em .1em .1em rgba(0,0,0,.3), 0 0 .2em var(--inputColor) ;
}


.test{
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  width:10%;
  background:#f00;
  z-index:3;
}





/* Num Formatting  */
.numInput{
  position:relative;
  overflow:hidden;
  margin:auto;
}
.numInput input{
  width:100%;
}

/* Chrome, Safari, Edge, Opera */
.numInput input::-webkit-outer-spin-button,
.numInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.numInput input[type=number] {
  -moz-appearance: textfield;
}


.spinnerUp, .spinnerDown{
  position:absolute;
  right:1px;
  width:.7em;
  height:calc(50% - 2.5px);
  background:#aaa;
  border-radius:.2em;
  display:flex;
  justify-content: center;
  align-items: center;
  opacity:0;
  transition:all 0s, opacity .3s;
}

.numInput:hover .spinnerUp, .numInput:focus-within .spinnerUp, .numInput:hover .spinnerDown, .numInput:focus-within .spinnerDown{
  opacity:.5;
}

.spinnerUp:after, .spinnerDown:after{
  content:'';
  position:absolute;
  height:.3em;
  width:.3em;
  border-top:.13em solid #fff;
  border-left:.13em solid #fff;
  transform:rotate(45deg);
  box-shadow:-.05em -.05em 0 var(--inputColor);
}
.spinnerDown:after{
  transform:rotate(225deg);
}

.spinnerUp{
  top:2px;
}
.spinnerDown{
  bottom:2px;
}

.spinnerUp:hover, .spinnerDown:hover{
  opacity:1!important;
}

.numberslider{
  opacity:0;
}

.spanAbove, .spanBelow, .spanMid{
  position:absolute;
  background:#ddd;
  top:-1em;
  left:.15em;
  padding-left:.4em;
  padding-right:.55em;
}
.spanBelow{
  top:1em;
}
.spanMid{
  top:0px;
}

.scrollDown, .scrollUp{
  animation-name: scrollDownAnimation;
  animation-duration: .2s;
}

.scrollUp{
  animation-name: scrollUpAnimation;
}

@keyframes scrollDownAnimation {
  0% {opacity:1;
    transform:translateY(0em)}
  80% {opacity:1;}
  100% {
    transform:translateY(-1.1em);
    opacity:0;
  }
}

@keyframes scrollUpAnimation {
  0% {opacity:1;
      transform:translateY(-2.2em)}
  80% {opacity:1;}
  100% {
    transform:translateY(-1.05em);
    opacity:0;
  }
}