:root {
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background: #700;
  background: linear-gradient(135deg, rgb(50, 50, 50) 0%,rgb(23, 18, 18) 48%,rgb(20, 20, 20) 100%); */
  background-size: cover;
  align-items: center;
  justify-content: center;

  font-size:70px;
}




.switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  /* box-shadow:inset -.05em -.1em .2em rgba(255,255,255,.6), inset .1em .1em .5em rgba(0,0,0,.6); */
  -webkit-transition: .4s;
  transition: .4s;
}

/* the ball is a "before", made before the slider */
.slider:before {
  position: absolute;
  content: "";
  height: .75em;
  width: .75em;
  left: .125em;
  bottom: .125em;
  background-color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
  transition-delay: .1s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  /* box-shadow:inset -.05em -.1em .2em rgba(255,255,255,.6), inset .1em .1em .5em rgba(0,0,0,.6), 0 0 .3em #2196F3; */
}

input:checked+.slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}
input:checked+.slider{
  animation-name: rotateOn;
  animation-duration: .6s;
}
input+.slider{
  animation-name: rotateOff;
  animation-duration: .6s;
}

/* Rounded sliders */
.slider.round {
  border-radius: 1em;
}

.slider.round:before {
  border-radius: 50%;
}


/* animations */
@keyframes rotateOn {
  40%{transform:rotate(45deg) translate(.5em, -.3em);}
  100%{transform:rotate(0deg);}
}

@keyframes rotateOff {
  40%{transform:rotate(-45deg)  translate(-0.5em, -.3em);};}
  100%{transform:rotate(0deg);}
}

