:root {
  --mainColor:#f73;
  --mainDark:rgb(131, 46, 3)
}

html {
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.dropdown{
  text-align:center;
}
.fas, .fab, .far{
  font-size:30px;
  text-align:center;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: #700;
  min-height: 100vh;
  background: linear-gradient(135deg, rgb(255, 179, 49) 0%,rgb(255, 72, 72) 48%,rgb(158, 0, 0) 100%);
  background-attachment: fixed;
}

.wrapper{
  position:relative;
  min-height:100vh;
  text-align: justify;
  overflow:hidden;
}

/* Nav Bar */

.nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;

  font-size:min(4vw, 20px);
  font-weight:700;
  padding:6px;
}

.nav.right{
  width:20%;
}

.nav-left{
  width:80%;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-item a{
  color:#fff;
}

.nav-item{
  position: relative;
  padding:3px;
  padding-right:20px;
  display:flex;
  justify-content: center;
}

/* Nav Dropdown Items */
.dropdown {
  opacity:0;
  position:absolute;
  padding:16px;
  padding-top:30px;
  top:-75px;
  width:100px;

  font-size:14px;

  border-radius:2px;
  transition: all 0.5s;
  transform: translateY(100px);
  will-change:transform;
  display:none;
}

.trigger-enter .dropdown{
  display:block;
}

.trigger-enter-active .dropdown{
  opacity:1;
}

.dropdownBackground{
  width:100px;
  height:100px;
  position:absolute;
  top:0px;
  left:0px;
  margin-top:14px;
  background:#fff;
  border-radius:4px;
  transition:all 0.3s, opacity 0.15s, translate 0.2s;
  transform-origin:50% 0%;
  border:1px solid #333;

  display:flex;
  justify-content: center;

  opacity:0;
}

.dropdownBackground.open{
  opacity:.92;
}

.arrow{
  width:20px;
  height:20px;
  border:1px solid #333;
  background:#fff;
  border-bottom:none;
  border-right:none;
  transform:rotate(45deg);
  margin-top:-10px;
  z-index:-1;
}

/* Dropdown Specifics */
.home{
  width:175px;
}

.about{
  width:300px;
}
.about p, .contact p{
  font-size:12px;
}
.aboutImg{
  width:75px;
  height:75px;
  border-radius:100%;
}

.shop{
  width:200px;
}

.contact{
  width:160px;
}

/* Links */

a{
  color:#f73;
}
a:hover{text-shadow:1px 1px 1px rgba(255, 86, 8, 0.637)}

/* Slogans/Headers at top of page */

.sloganWrapper{
  margin:30px;
}

.slogan{
  text-align:center;
  font-size:32px;
  font-weight:700;
  margin:auto;
  display:block;
}

.s1{
  color:#333;
  text-shadow:1px 1px 1px #ddd;
}

.s2{
  color:#ddd;
  text-shadow:-1px -1px 1px #333;
}
/* Floating Card */

.pill-box{
  display:flex;
  flex-direction: row;
  background:#ddd;
  color:#333;
  box-shadow:10px 10px 0px rgba(0,0,0,.5);
  font-size: 14px;
  margin:auto;
  margin-top:30px;
  border-radius:15px;
  overflow:hidden;
  z-index:-2;
  margin-bottom:10vh;
}

.left, .right{
  flex-grow: 1;
  min-width:40%;
  padding:12px;
}

.right{
  background:#333;
  color:#fff;
}
.left *, .right *{
  z-index:1;
}

.pill-box, .maskContent{
  width:70%;
  max-width:1024px;
}

/* Stripe like slanted section dividers */
.slantMask{
  position:relative;
  overflow-y:visible;
  padding-top:12vh;
  padding-bottom:12vh;
  margin-top:-10vh;
  margin-bottom:-10vh;
}

.slantMask:after{
  content:'';
  position:absolute;
  height:100%;
  width:100%;
  left:0px;
  top:0px;
  background:#333;
  z-index:-10;
  clip-path: polygon(0% 0%, 100% 10vh, 100% 100%, 0% calc(100% - 10vh));
}

.maskContent{
  color:white;
  margin:auto;
}

.slantMask.white:after{
  background:#ddd;
  clip-path: polygon(0% 10vh, 100% 0%, 100% calc(100% - 10vh), 0% 100%);
}

.slantMask.white .maskContent{
  color:#333;
}

.center{
  text-align:center;
}

/* Highlight */
.highlight{
  box-sizing: content-box;
  transition:.2s;
  position:absolute;
  top:0px;
  left:0px;
  background:#333;
  box-shadow:inset 0px 0px 10px #fff;
  display:block;
  z-index:-1;
  border-radius:8px;
  margin:-2px;
  padding:4px;
}