:root {
  --cols:10%;
  --rows:10%;
  --itemHeight:10vh;
  --itemWidth:10vw;
  --borders:100% 0% 0% 0%;
  --color0:#300;
  --color1:#700;
  --color2:#a00;
  --color3:#f00;
  --color4:#f73;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background: #700;
  background: linear-gradient(135deg, #850 0%,#700 48%,#a22 100%); */
  background-size: cover;
  align-items: center;
}

.wrapper{
  display:flex;
  flex-wrap: wrap;
  background:var(--color4);
  width:100vw;
  height:100vh;
  overflow:hidden;
}

#settings{
  position:absolute;
  top:10px;
  right:10px;

  background:rgba(255,255,255,.7);
  box-shadow:4px 4px 1px rgba(0,0,0,.5), -4px -4px 1px rgba(0,0,0,.5);

  border-radius:3px;
  padding:10px;
}

input[type="number"]{
  width:50px;
}

.panel{
  position:relative;
  height:var(--itemHeight);
  width:var(--itemWidth);
  overflow:hidden;
}

.panel *{
  background:#f00;
  border-radius:var(--borders);

  transform-origin: top left;
}

/* correct rotated width and height */
.left *, .right *{
  width:var(--itemHeight);
  height:var(--itemWidth);
}

.up *, .down *{
  height:var(--itemHeight);
  width:var(--itemWidth);
}


/* Position properly within parent cell */
.up *{
}

.down *{
  transform:rotate(180deg)
    translate(calc(-1*var(--itemWidth)), calc(-1*var(--itemHeight)));
}

.right *{
  margin-top:.5px;
  transform:rotate(90deg)
    translate(0px, calc(-1*var(--itemWidth)));
}

.left *{
  margin-left:1px;
  transform:rotate(270deg)
    translate(calc(-1*var(--itemHeight)), 0px);
}

.color0 *{
  background:var(--color0);
}
.color1 *{
  background:var(--color1);
}
.color2 *{
  background:var(--color2);
}
.color3 *{
  background:var(--color3);
}