:root {
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #700;
  background: linear-gradient(135deg, rgb(50, 50, 50) 0%,rgb(23, 18, 18) 48%,rgb(20, 20, 20) 100%);
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.wrapper{
  position:relative;
  background:rgba(255,255,255,.1);
  padding:20px;

  border-radius:20px;
  border-top:4px solid #444;
  border-left:4px solid #444;
  border-bottom:2px solid #222;
  border-right:2px solid #2a2a2a;

  text-align:center;
}

.wrapper h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:900;
  font-size:8vmin;
  line-height: 1rem;
  margin:2vmin;

  text-shadow:-1px -1px 1px rgba(0,0,0,.5), 1px 1px 0 rgba(255,255,255,.3);
  color:rgba(255,255,255,.1);
}

.blockWraper{
  width:75vmin;
  height:75vmin;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.block{
  width:4.44%;
  height:4.44%;
  border-radius:.6vmin;
  margin:.28%;

  box-shadow:.25vmin .25vmin .5vmin rgba(0,0,0,.2), -.25vmin -.25vmin 1px rgba(255,255,255,.1);

  background:transparent;
  transition: 4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.block:hover{
  transition:0s;
}


/* 
  toggle switch, as described on w3 schools
  https://www.w3schools.com/howto/howto_css_switch.asp
*/
.switch {
  position: relative;
  display: inline-block;
  width: 5.5vmin;
  height: 3.5vmin;
  margin:10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.5vmin;
  width: 2.5vmin;
  left: .4vmin;
  bottom: .5vmin;
  background-color: #333;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background:linear-gradient(100deg, #f00 15%, #0f0 30%, #00f 100%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2vmin);
  -ms-transform: translateX(2vmin);
  transform: translateX(2vmin);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}