:root {
  --mainColor:#f73;
  --cardSize:50vw;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: #700;
  min-height: 100vh;
  background: linear-gradient(135deg, #850 0%,#700 48%,#a22 100%);
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.wreath{
  height:90vmin;
  width:90vmin;
  position:relative;
}
.wreath .segment{
  position:absolute;
  left:50%;
  height:100%;
}

.segment:after{
  position: absolute;
  content:'';
  width:3vmin;
  height:25vmin;
  padding-bottom:50%;
  background-color:rgb(45, 88, 19);
  border-radius:100px 0px;

  box-shadow:10px -10px 30px rgba(0,0,0,.5);
}
.segment:nth-child(2n):after{
  background-color:rgb(65, 134, 23)!important;
}

.light{
  height:1.5vmin!important;
  width:1.5vmin;
  border-radius:100px;
  z-index:5;
  position:absolute;

  background-color:#ffa;
  -webkit-animation: twinkle 3s infinite linear;
  
}
.wreath .light:after{
  content:'';
  height:1.5vmin!important;
  width:1.5vmin;
  border-radius:100px;
  z-index:30;
  position:absolute;
  border:2px solid rgba(0,0,0,.5);
  box-shadow:0 0 5vmin #ff9;
}
.wreath .light:before{
  content:'';
  height:.9vmin!important;
  width:.9vmin;
  position:absolute;
  border:2px solid rgba(0,0,0,.5);
  background:rgb(50, 77, 50);
  top:1.4vmin;
  left:.3vmin;
}

.segment:nth-of-type(5n+1) .light{
  background:#f55;
  box-shadow:0 0 5vmin #f55, 0 0 2vmin #f55;
}
.segment:nth-of-type(5n+3) .light{
  background:#5f5;
  box-shadow:0 0 5vmin #5f5, 0 0 2vmin #5f5;
}
.segment:nth-of-type(5n+5) .light{
  background:#55f;
  box-shadow:0 0 5vmin #55f, 0 0 2vmin #55f;
}
.segment:nth-of-type(5n+7) .light{
  background:#f5f;
  box-shadow:0 0 5vmin #f5f, 0 0 2vmin #f5f;
}


@-webkit-keyframes twinkle {
  0%{
    filter:opacity(.5);
  }
  5%{
    filter:opacity(1);
  }
  80%{
    filter:opacity(1);
  }
  95%{
    filter:opacity(.5);
  }
  100%{
    filter:opacity(.5);
  }
}

.message{
  z-index:5;
  position:absolute;

  font-size:10vmin;
  font-weight:900;

  left:20%;
  top:20%;
  height:60%;
  width:60%;

  text-align:center;
}

/* @-webkit-keyframes twinkle {
  0% {
    background-color:rgba(255,255,187,.5);
    box-shadow:0 0 5vmin rgba(255,255,187,.2), 0 0 2vmin rgba(255,255,187,.2);
  }
  5% {
    background-color:#ffb;
    box-shadow:0 0 5vmin #ff9, 0 0 2vmin #ff9;
  }
  80% {
    background-color:#ffb;
    box-shadow:0 0 5vmin #ff9, 0 0 2vmin #ff9;
  }
  95% {
    background-color:rgba(255,255,187,.5);
    box-shadow:0 0 5vmin rgba(255,255,187,.2), 0 0 2vmin rgba(255,255,187,.2);
  }
  100% {
    background-color:rgba(255,255,187,.5);
    box-shadow:0 0 5vmin rgba(255,255,187,.2), 0 0 2vmin rgba(255,255,187,.2);
  }
} */